[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Requires=kube-apiserver.service
After=kube-apiserver.service

[Service]
ExecStartPre=-/bin/mkdir -p /opt/kubernetes/bin
ExecStart=/usr/bin/kube-controller-manager \
   --kubeconfig=/srv/kubernetes/kubelet.cfg \
   --cluster-signing-cert-file=/srv/kubernetes/ca.crt \
   --cluster-signing-key-file=/srv/kubernetes/ca.key \
   --service-account-private-key-file=/srv/kubernetes/apiserver.key \
   --root-ca-file=/srv/kubernetes/ca.crt
        
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

